@model SnippetsApplication.Models.UserSecret

@{
    ViewData["Title"] = "GetUserSecret";
}
<head>
    <script src=~/js/GetUserSecret.js></script>
</head>
<h1>GetUserSecret</h1>

<div>
    <h4>UserSecret</h4>
    <div class="row">
            <p class="rounded-pill text-danger bs-danger-subtle" id="ErrorOutput" hidden></>
    </div>
    <div class="row">
        <input type="text" id="SecretInput" onkeyup="GetUserSecret()"/>
        @*<button id="btn_GetSecretInput" onclick="GetUserSecret()">Submit</button>*@
    </div>

    <div id="SecretOutput_Success" hidden>
        <label>
            User Secret ID:
            <input type="text" id="UserSecretID" readonly/>
        </label><br />
        <label>
            User Secret Key:
            <input type="text" id="SecretKey" readonly/>
        </label><br />
        <label>
            User Secret Value:
            <input type="text" id="SecretValue" readonly/>
        </label><br />
    </div><br />
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>