@model SnippetsApplication.Models.UserSecret

@{
    ViewData["Title"] = "GetUserSecret";
}
<head>
    <script type="text/javascript">
        function GetUserSecret() {
            var inputString = $("#SecretInput").val();
            var url = '/Home/GetSecret/';
            $.ajax({
                type: 'POST',
                url: url,
                data: { "key": inputString },
                success: function(response) {
                    if (response.responseCode == -1) {

                    } else {
                        var secret = JSON.parse(response.responseMessage);
                        $("#SecretOutput_Success").removeAttr('hidden');
                        $("#UserSecretID").val(secret.UserSecretID);
                        $("#SecretKey").val(secret.SecretKey);
                        $("#SecretValue").val(secret.SecretValue);
                    }
                }
            })
        }
    </script>
</head>
<h1>GetUserSecret</h1>

<div>
    <h4>UserSecret</h4>
    <div class="row">
        <input type="text" id="SecretInput"/>
        <button id="btn_GetSecretInput" onclick="GetUserSecret()">Submit</button>
    </div>

    <div id="SecretOutput_Success" hidden>
        <label>
            User Secret ID:
            <input type="text" id="UserSecretID" readonly/>
        </label><br />
        <label>
            User Secret Key:
            <input type="text" id="SecretKey" readonly/>
        </label><br />
        <label>
            User Secret Value:
            <input type="text" id="SecretValue" readonly/>
        </label><br />
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>