@model SnippetsApplication.Models.UserSecret

@{
    ViewData["Title"] = "AddUserSecret";
}

<h1>AddUserSecret</h1>

<h4>UserSecret</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUserSecret">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserSecretID" class="control-label"></label>
                <input asp-for="UserSecretID" class="form-control"/>
                <span asp-validation-for="UserSecretID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecretKey" class="control-label"></label>
                <input asp-for="SecretKey" class="form-control" />
                <span asp-validation-for="SecretKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecretValue" class="control-label"></label>
                <input asp-for="SecretValue" class="form-control" />
                <span asp-validation-for="SecretValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectLocation" class="control-label"></label>
                <input asp-for="ProjectLocation" class="form-control" />
                <span asp-validation-for="ProjectLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
