<head>
    <link rel="stylesheet" href="~/css/UserSecret/AddUserSecretId.css" />
    <script type="text/javascript" src="~/js/UserSecrets/AddUserSecretId.js"></script>
</head>
<section id="IntroContainer" class="bg_primary">
    <p id="MainSection">
        This application would like to add your User Secrets Id to the local User Secrets Store
    </p>
    <div id="QuestionContainer">
        <div class="QuestionBox bg_accent txt_primary">
            <a href="#UserSecretExplanation">What is the User Secrets Store? <i class="fa fa-link"></i></a>
        </div>
        <div class="QuestionBox bg_secondary">
            <p>
                <a href="#UserSecretsIdExplanation">What is a User Secrets ID? <i class="fa fa-link"></i></a>
            </p>
        </div>
        <div id="RainDrops"></div>
    </div>
</section>
<section id="UserSecretExplanation">
    <h2>What Exactly Is a 'User Secret Store'?</h2>
    <p>
        A User Secrets Store is part of a .Net Core application where developers can hold secrets that they only want to hold 
        locally, without it being uploaded to Git.
    </p>
    <p>
        One example of something that you would put in here is API keys. An API key is something when you are testing a Web App 
        that you would want to keep local to you and not share with the world if the GitHub repository is going to be public.
    </p>
    <p>
        The User Secrets store needs to be initialized before it is able to be used and once it is, a User Secrets ID is generated 
        and placed into the projects .csproj file. This is is the key that allows you to manage your User Secrets and is unique to
        <strong>you</strong> and unique to the <strong>project</strong>. For more information on this, you can read up on this 
        <a href="#UserSecretsIdExplanation">here</a>
    </p>
    <div id="DocumentationLinks"> 
        <p>
            If you woule like to read more on this, below are a few links to documentation:
        </p>
        <ul id="DocumentationList">
            <li>
                <a href="https://learn.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-7.0&tabs=windows&viewFallbackFrom=aspnetcore-2.1" target="_blank">
                    <i class="fa fa-link"></i>  Microsoft Documentation
                </a>
            </li>
            <li>
                <a href="https://dotnetcoretutorials.com/2022/04/28/using-user-secrets-configuration-in-net/s" target="_blank">
                    <i class="fa fa-link"></i>  dotnet core tutorials
                </a>
            </li>
        </ul>
    </div>
</section>
<section id="UserSecretsIdExplanation">
    <h2> What Is a User Secrets ID?</h2>
</section>