@model IEnumerable<UserSecret>

<head>
	 <!--CSS for DataTables-->
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>

<table class="table" id="UserSecrets">
    <thead>
        <tr>
            <th>UserSecretID</th>
            <th>Key</th>
            <th>Value</th>
            <th>Project Location</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var secret in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => secret.UserSecretID)</td>
                    <td>@Html.DisplayFor(modelItem => secret.SecretKey)</td>
                    <td>@Html.DisplayFor(modelItem => secret.SecretValue)</td>
                    <td>@Html.DisplayFor(modelItem => secret.ProjectLocation)</td>
                </tr>
            }
        }
    </tbody>
</table>